/* Start Switcher Buttons */

.switch {
    width: 50px;
    height: 30px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 5px #dfdfdf;
    border-radius: 15px;
    transition: 0.5s all ease;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    user-select: none;
    background-clip: content-box;
    margin: 0 0 10px 10px;
    
    .switcher {
        right: 0;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        transition: 0.5s all ease;
    }
    
    &.large {
        border-radius: 20px;
        height: 40px;
        width: 66px;
        
        .switcher {
            width: 38px;
            height: 38px;
        }
    }
    
    &.small {
        border-radius: 10px;
        height: 20px;
        width: 33px;

        
        .switcher {
            width: 18px;
            height: 18px;
        }
    }
    
    &.active .switcher {
        right: auto;
        left: 0;
    }
    
    &.active.primary {
        background-color: #007bff;
        border-color: #007bff;
        box-shadow: #007bff 0px 0px 0px 16px inset;
    }
    
    &.active.success {
        background-color: #28a745;
        border-color: #28a745;
        box-shadow: #28a745 0px 0px 0px 16px inset;
    }
    
    &.active.info {
        background-color: #17a2b8;
        border-color: #17a2b8;
        box-shadow: #17a2b8 0px 0px 0px 16px inset;
    }
    
    &.active.secondary {
        background-color: #6c757d;
        border-color: #6c757d;
        box-shadow: #6c757d 0px 0px 0px 16px inset;
    }
    
    &.active.danger {
        background-color: #dc3545;
        border-color: #dc3545;
        box-shadow: #dc3545 0px 0px 0px 16px inset;
    }
    
    &.active.dark {
        background-color: #343a40;
        border-color: #343a40;
        box-shadow: #343a40 0px 0px 0px 16px inset;
    }
    
    &.active.warning {
        background-color: #ffc107;
        border-color: #ffc107;
        box-shadow: #ffc107 0px 0px 0px 16px inset;
    }
}

.bootstrap-switch {
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    line-height: 8px;
    z-index: 0;
    user-select: none;
    vertical-align: middle;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 120px;
    height: 30px;
    transition: all .5s;
    margin: 0 0 10px 10px;
    
    .bootstrap-switch-handle-on {
        position: absolute;
        top: 0;
        right: -100%;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.8;
        width: 45%;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        text-align: center;
        cursor: pointer;
        color: #fff;
    }
    
    .bootstrap-switch-label {
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.8;
        text-align: center;;
        color: #333;
        background: #fff;
        cursor: pointer;
    }
    
    .bootstrap-switch-handle-off {
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.8;
        color: #000;
        background: #eee;
        text-align: center;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        cursor: pointer;
    }
    
    &.active {
        
        .bootstrap-switch-handle-on {
            right: 0;
        }
        
        .bootstrap-switch-label {
            right: auto;
            left: 0;
        }
        
        .bootstrap-switch-handle-off {
            left: -100%;
        }
    }
    
    &.long-text {
        
        .bootstrap-switch-handle-on {
            width: auto
        }
        
        .bootstrap-switch-handle-off {
            width: auto
        }
    }
    
    &.large {
        width: 150px;
        height: 40px;
        
        .bootstrap-switch-handle-on {
            padding: 10px 15px;
            font-size: 16px;
            line-height: 1.2;
        }

        .bootstrap-switch-label {
            padding: 10px 15px;
            font-size: 16px;
            line-height: 1.2;
        }

        .bootstrap-switch-handle-off {
            padding: 10px 15px;
            font-size: 16px;
            line-height: 1.2;
        }
    }
    
    &.small {
        width: 90px;
        height: 25px;
        
        .bootstrap-switch-handle-on {
            padding: 3px 7px;
            font-size: 10px;
            line-height: 2;
        }

        .bootstrap-switch-label {
            padding: 3px 7px;
            font-size: 10px;
            line-height: 2;
        }

        .bootstrap-switch-handle-off {
            padding: 3px 7px;
            font-size: 10px;
            line-height: 2;
        }
    }
}

/* End Switcher Buttons */